<div class="scribe-footer-credits emigrants-footer-credits">
  <div>
    <p>Community Cataloging is a product of
      <a href="https://www.library.ucla.edu/powell">UCLA Powell Library</a>
    </p>
  </div>
</div>