<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>CC-ing OCR</title>
    <link rel="icon" href="imges/logo.png" />
  </head>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<div th:if="${ocrResult}">
        <pre>
		<h2 th:text="${ocrResult}"/>
        </pre>
	</div>
	<div th:if="${ocrDetailResult}">
        <pre>
		<h2 th:text="${ocrDetailResult}"/>
        </pre>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

</body>
</html>
